llama-index
llama-index-readers-file
pymupdf
pypdf
docling~=2.80.0
transformers~=4.57.6
llama-index-core
llama-index-embeddings-huggingface
scikit-learn
sentence-transformers~=5.3.0
threadpoolctl
qdrant_client~=1.17.1
fastapi~=0.135.1
uvicorn
pydantic~=2.12.5
torch~=2.10.0+cu128
huggingface_hub~=0.36.2